body{
    overflow: none;
}

#navbar{
    flex-direction: column;
 align-items: center;
 height: 250px;
}
.box{
    margin: 20px 0px ;
}
#box-3{
    position: relative;
}
#navbar input{
    display: block;
    margin: auto;
}
#box-2 img{
    position: relative;
    top: 7px;
    left: -129px;
}